<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/css/admin-pages.css">
    </head>
    <body>
        <header class="forms_header">
            <h3>Add Post</h3>
        </header>
        <main>
            <section class="forms">
                <form action="/add_post_submit" method="POST">
                    <table>
                        <tr>
                            <td>
                                <span>Post Title: </span>
                            </td>
                            <td>
                                <input type="text" id="post_title" name="post_title" placeholder="post_title" class="post_title">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Post Content: </span>
                            </td>
                            <td>
                                <textarea id="post_text" name="post_text" class="post_text" placeholder="post_text"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Add Post">
                            </td>
                        </tr>
                    </table>
                </form>
                <h3>OR</h3>
                <h4>Upload a file</h4>
                <form action="/uploadfile" enctype="multipart/form-data" method="post">
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <input type="submit" value="Upload">
                </form>
            </section>
        </main>
        <script src="/js/adminpages.js"></script>
    </body>
    <footer>
        <p class="copyright">&copy; Copyright 2020</p>
    </footer>
</html>